@media (max-width: 600px) {
    .box {
        width: 94%;
        height: 500px;
    }

    .model {
        height: 250px;
    }

    .details p {
        font-size: 16px;
        width: 250px;
    }
}